$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(0,0,0,.7);
$icon-size: 32px;

body {
  background: $bg-color;
  color: $font-color;
}

.navbar {
  border-bottom: 3px solid $primary-color;
  opacity: .8;
}

#home-section {
  background: url('../img/home.jpg') no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner {
    padding-top: 150px;
  }

  .card-form {
    opacity: .8;
  }

  .fa {
    color: $primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#explore-section, #share-section {
  .fa {
    color: #fff;
    background: #333;
    padding: 5px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#create-section {
  .fa {
    color: $primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}
